* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  line-height: 1.6;
  background: #fff;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ffcc00;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Hero */
#hero {
  text-align: center;
  padding: 80px 20px;
  background: url('res.jpg') no-repeat center/cover;
  color: #333;
}

#hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
#hero p{
    color: lawngreen;
}

#hero p:hover {
  color: rgb(228, 25, 228);
  cursor: pointer; 
}

#menu {
  padding: 50px 20px;
  background: #f9f9f9;
}

#menu h2 {
  text-align: center;
  margin-bottom: 30px;
}

.menu-category {
  margin-bottom: 40px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.menu-item h4 {
  margin-bottom: 5px;
}

/* Contact Section */
#contact {
  text-align: center;
  padding: 40px 20px;
  background: #fff;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #ffcc00;
  color: #333;
}
